@import '_normalize.css';
@import '_column_core.css';

html, body, footer {
  background: #847996;
  font-family: 'Lobster'
}

header {
  background: #847996;
}

header h1 {
  color: #E7DFC6;
  margin: 0;
  padding: 0;
  text-align: center;
}

main {
  background: #847996;
}



.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 10px;
}
section {
  padding: .25em;
}
main .container {
  background: #847996;;
  padding-bottom: 10em;
  display: block;
}

article {
  padding: 20px;
  background: white;
  box-shadow: 1px 1px 8px 1px rgba(000, 000 ,000 , 0.5);
}
footer {
  background: #847996;
  text-align: center;
}

footer a {
  color: #E7DFC6;
  display: inline-block;
  text-decoration: none;
  font-size: 90%;
}

footer a + a {
  border-left: 1px solid #ccc;
  margin-left: .5em;
  padding-left: .5em;
}

textarea {
  max-width: 100%;
}

.input-sizer input {
  width: 200px;
  height: 100px;
  background: #EFEFEF;
  border: none;
}

div.note-format {
  background: #E9F1F7;
  border: 1px solid #E9F1F7;
  padding: 0.5em;
  margin: 0.25em;
  width: 50%;
  border-radius: 4px;
  overflow: scroll;
}
button {
  margin-top: .25em;
}

.fixed-preview input{
  border: none;
  width: 40em;
  height: 2.5em;
  margin: 0.25em;
  background: #847996;
}
