<header>
  <div class="container">
    <h1>Note Maker 3000!</h1>
  </div>
</header>

<main>
  <div class="container">
    {{outlet}}
  </div>
</main>

<footer>
  <div class="container">
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'notes'}}Notes{{/link-to}}
  </div>
</footer>
