


<article>
  <section class="intro-page">
    <h3>Welcome to a Simple Ember-cli note Application</h3>
    <p>You can write a simple note that is stored via a Rails backend app</p>
    <p>Make a note {{#link-to 'notes'}}<strong>here....</strong>{{/link-to}}</p>
  </section>

</article>
